.env
.env.*
!.env.example

node_modules/
vendor/

dist/
build/
coverage/
public/build/

.DS_Store
Thumbs.db

*.log

.phpunit.cache/
.phpunit.result.cache
database/*.sqlite
storage/*.key

/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep
/storage/framework/views/*.php
!/storage/framework/views/.gitkeep

/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep
/storage/framework/views/*.php
!/storage/framework/views/.gitkeep
